@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Merriweather');
body{
  /* height: 768px;
  width: 100%;
  background-color:   #3a82f4; */
  display: flex;
  flex-direction: column;
  font-family: 'Fjalla One', sans-serif;
  overflow: hidden;
  
}


.App {
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
}

#main-container{
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 500px;
  max-width: 600px;
  min-height: 320px;
  max-height: 700px;
  margin: auto;
  margin-top: -15px;
  border-radius: 50px;
}
#quote-text{
  margin-left: 20px;
  padding: 30px;
  font-size: 1.3em;
}
#author-text{
  margin-left: 400px;
}
.button-color{
  margin-top: 80px;
  color: white;
  background-color: #3a82f4;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: .15em;
  margin-bottom: 20px;
}
#save-button{
  margin-left: 50px;
  height: 40px;
  width: 100px;
  border-radius: 500px;
}
#tweet-button{
  height: 40px;
  width: 100px;
  margin-left: 40px;
  border-radius: 500px;
}
#new-quote-button{
  margin-left: 150px;
  height: 40px;
  width: 100px;
  border-radius: 500px;
}
#saved-quotes-row{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 80%;
  height: 250px;
  margin-left: 5%;
  margin-top: 40px;

}
.saved-quotes-individual{
  background-color: white;
  width: 325px;
  border-radius: 50px;
  margin-left: 30px;
}
.saved-quotes-quote{
  padding: 10px;
  font-size: 1.1em;
}
.saved-quotes-author{
  margin-left: 170px;
}
#delete-quote{
  margin-top: 10px;
  margin-left: 250px;
  border-radius: 100%;
  color: white;
}
#easterEgg{
  margin-left: 1100px;
  background:transparent;
  border:none;
  outline:none;
  display:block;
  height:10px;
  width:30px;
  cursor:pointer;
}